html{
  
}
header{
    padding:0 3%;
}

p{
    padding:0 0.5%;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    
}

h1{
    padding:0 0.5%;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color: crimson;
    
}

h2{
    padding:0 0.5%;
    font-size: 18px;
    font-family:Verdana, sans-serif;
    
}


.center{
    padding: 70px 0;
}
