header{
    padding:0 3%;
}

h1{
    font-family:cursive;
    font-size: 26px;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}